.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.link h1 {
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: capitalize;

}

button {
    width: 124px;
    height: 51px;
    top: 15px;
    left: 1206px;
    border-radius: 20px;
    gap: 10px;
    font-family: Rubik;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: capitalize;
    background-color: #F29727;
    border-width: 0px;
    color: white;
}

.banner {
    display: flex;
    padding: 120px 0px 120px 20px;
}

.banner img {
    width: 797.025146484375;
    height: 394.4453125;
    top: 217px;
    left: 1428.02px;
}

.banner_content h1 {
    font-family: Rubik;
    font-weight: 600;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 0px;
    padding: 0px;
    margin: 0px;
}

.banner_content p {
    font-family: Rubik;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #6C757D;
}

.banner button {
    width: 220px;
}

.sponsor {
    display: flex;
    justify-content: space-evenly;
    background-color: #F1F1F1;
}

.services {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 100px;
    padding: 30px 80px 100px 80px;
}

.services .services_title {
    font-family: Rubik;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    margin: 0px;
}

.left_service,
.right_service {
    display: flex;
    gap: 50px;
}

.service_content {
    max-width: 629px;
}

.service_content h1 {
    font-family: Rubik;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
}


.service_content p {
    font-family: Rubik;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #6B7384;
}

#second_service {
    padding-left: 100px;
}

#second_service button {
    background-color: #65AE1B;
}

.third_service button {
    background-color: #2E2E2E;
}

.feature {
    padding: 80px 20px 80px 20px;

}

.feature h1 {
    font-family: Rubik;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
    margin-bottom: 5px;
}

.feature p {
    font-family: Rubik;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #6B7384;
    margin: 0px;
}

.feature_banner {
    display: flex;
    padding-top: 50px;
    gap: 60px;
    align-items: center;
}

.feature_content {
    display: flex;
    gap: 40px;
    align-items: center;
}

.feature_content_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer_banner {
    background-color: #FFD700;
    border: 1.31px solid #FFD700;
    border-radius: 30px;
    margin: 120px 20px 120px 20px;
    display: flex;
    justify-content: space-between;
    padding: 50px 120px 50px 80px;
}

.footer_banner .content h1 {
    font-family: Rubik;
    font-weight: 400;
    font-size: 56px;
    line-height: 63px;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.footer_banner .content span {
    font-weight: 600;
}

.footer-banner-image {
    width: 352px;
    height: 352px;
    border-radius: 100%;
    background-color: #F29727;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-banner-image div img {
    width: 69.33467864990234px;
    height: 94.54922485351562px;
}

.footer-banner-image div img:nth-of-type(2) {
    width: 144.041748046875px;
    height: 81.03913879394531px;
}

.footer_banner .content button {
    width: 240px;
    height: 56px;
    top: 430px;
    left: 164.27px;
    border-radius: 20px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    gap: 10px;
    background-color: white;
    color: #2E2E2E;
}

footer {
    background-color: #F1F1F1;

}

.social-div {}

.social {
    display: flex;
    gap: 40px;
    padding-left: 30px;
}

.social-div img:nth-of-type(1) {
    width: 222px;
    height: 148px;
}

.social img:nth-of-type(1) {
    width: 23.33333396911621px;
    height: 23.275001525878906px;
}

.social-div button {
    margin-right: 30px;
    width: 240px;
    height: 56px;
    margin-top: 82px;
    border-radius: 20px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    gap: 10px;
    background-color: #2E2E2E;
    color: white;
}

.copy {
    background-color: #2E2E2E;
    padding: 20px 50px 20px 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.copy h1 {
    font-family: Rubik;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
}
.copy div {
    display: flex;
    gap: 100px;
}